.hero-area{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    min-height: 300px;
    padding: 100px 0;
}

footer {
    background-color: rgb(90, 90, 90);
    color: #ffffff;
}